.noto-regular {
  font-family: "Noto", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
}
.noto-italic {
  font-family: "Noto", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}
